# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea
/cloud-api-user/target/
/cloud-config-client-git/target/
/cloud-config-server-git/target/
/cloud-client-eureka/target/
/cloud-config-server-as-client-for-eureka/target/
/cloud-server-eureka/target/
/cloud-server-eureka-high-available/target/
/cloud-client-eureka-high-available/target/
/cloud-client-consul/target/
/cloud-client-ribbon/target/
/cloud-server-user/target/
/cloud-config-introduction/target/
/cloud-dashboard-hystrix/target/
/cloud-client-feign/target/
/cloud-gateway-zuul/target/
/cloud-stream-binder-activemq/target/
