*.class
/build
/.idea
/.settings
*.iml
.classpath
*.war
*.ear
*.jar
*.DS_Store
/.gradle
/.gradle*
*.log
*.log.*
*.swp
#/.settings
/work
WebContent/.idea/
.project
/bin/
target/*
cloud-config-server/target/*
cloud-config-client/target/*
pom.xml.versionsBackup
.gitattributes
.travis.yml

cloud-common/target/generated-sources/
cloud-config-client/target/generated-sources/
cloud-config-server/target/generated-sources/
